---

---

<div class="flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
	<a href="https://twitter.com/SmileSharks?utm_source=portfolio_astro" rel="noreferrer" target="_blank" class="group flex items-center space-x-1 text-xs">
		<span class="hover:decoration- flex gap-1 underline decoration-dotted underline-offset-4 transition group-hover:underline-offset-4"> 
			Made by moje.cc
			<img src="/Frame.svg" alt="Fram" class="text-skin-hue w-3 group-hover:animate-pulse" width="41" height="28" />
		</span>
	</a>
</div>
